@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

*{
box-sizing: border-box;
font-family: Raleway;
color: #777;

}

html,body{
    padding: 0;
    margin: 0;
}

.social  {
    width: 50px;
    size: cover;
}

.nav ul {
    padding: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: wheat;
    text-decoration: none;
}

.main-nav{

    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.main-nav li{

    padding: 0.5%;

}

.nav a:hover{

    background-color: rgba(255,255,255,.3);

}

.band-name{

    text-align: center;
    margin:0 ;
    font-size: 4am;
}

.main-header{
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("images/header-background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 30px;
}

.main-footer{

    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("images/header-background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 30px;
    

}

.main-footer li{
    display: inline;
    padding: 5%;
}

h2{
    text-align: center;
}
/* background-size: cover makes the image fit for one edge */
/* background-blend-mode blends the background image and background color */